{
    "$schema": "https://json.schemastore.org/prettierrc",
    "arrowParens": "always",
    "bracketSameLine": false,
    "singleQuote": true,
    "tabWidth": 4,
    "printWidth": 100,
    "trailingComma": "all"
}
